#Virtual Environment
.venv/
env/
venv/

#Byte-compiled / optimized / Dll files
**/__pycache__/
*.pyc
*.pyd
*.pyo

#IDE
.vscode/

#Flask instance folder
**/instance/

#Test-related files
**/.pytest_cache/
**/.coverage

#Logs and tmp
**/*.log
**/tmp/
